/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Raleway',sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**************************************************************/
h2 {
    font-size: 20px;
    font-family: 'Oswald',sans-serif;
}
#banner-img {
    width: 100%;
    height:100%;
}
#img-holder {
    width: 100%;
}
#location-holder {
    margin-top: -85px;
}

#location-holder li {
    display:inline-block;
    width: 32%;
    text-align:center;
    color:white;
    line-height: 125%;
}

#footer {
    font-size: 12px;
    text-align:center;
    margin: 22px 0;
    color: #007bbe;
}
#footer a {
    color: #007bbe;
}
@media (max-width:675px) {
    #location-holder li {
        width: 49%;
        margin-bottom: 20px;
    }
    #location-holder li:last-child {
        width: 100%;
    }
    #location-holder {
        margin-top: -195px;
    }

}
@media (max-width: 438px) {
    h2 {
        font-size: 13px;
        margin-bottom:3px;
    }
    #location-holder li {
        width: 49%;
        margin-bottom: 20px;
    }
    #location-holder li:last-child {
        width: 100%;
    }
    #location-holder {
        margin-top: -195px;
    }
    #location-holder li p {
        font-size:12px;
    }
}